<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--设置注入-->
    <!--<bean id="chinese" class="cn.fcsca.dependency.face.impl.Chinese">-->
        <!--<property name="language" ref="english"></property>-->
    <!--</bean>-->
    <bean id="english" class="cn.fcsca.dependency.face.impl.English"></bean>

    <!--构造注入-->
    <bean id="chinese" class="cn.fcsca.dependency.face.impl.Chinese">
        <constructor-arg ref="english"/>
    </bean>

    <!--通知Advice相关bean-->
    <bean id="logBeforeAdvice" class="cn.fcsca.advice.face.impl.LogBeforeAdvice"/>
    <bean id="helloSpeaker" class="cn.fcsca.advice.face.impl.HelloSpeaker"/>
    <bean id="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>cn.fcsca.advice.face.IHello</value>
        </property>
        <property name="target">
            <ref bean="helloSpeaker"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>logBeforeAdvice</value>
            </list>
        </property>
    </bean>

</beans>