<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--设置注入-->
    <!--<bean id="chinese" class="cn.fcsca.dependency.face.impl.Chinese">-->
        <!--<property name="language" ref="english"></property>-->
    <!--</bean>-->
    <bean id="english" class="cn.fcsca.dependency.face.impl.English"></bean>

    <!--构造注入-->
    <bean id="chinese" class="cn.fcsca.dependency.face.impl.Chinese">
        <constructor-arg ref="english"/>
    </bean>

    <!--通知Advice相关bean-->
    <!--TODO:Error creating bean with name 'helloProxy':
              FactoryBean threw exception on object creation;
              nested exception is org.springframework.aop.framework.AopConfigException:
              Unknown advisor type class cn.fcsca.advice.face.impl.LogBeforeAdvice;
              Can only include Advisor or Advice type beans in interceptorNames chain except for last entry,which may also be target or TargetSource;
              nested exception is org.springframework.aop.framework.adapter.UnknownAdviceTypeException: Advice object
              [cn.fcsca.advice.face.impl.LogBeforeAdvice@543788f3] is neither a supported subinterface
              of [org.aopalliance.aop.Advice] nor an [org.springframework.aop.Advisor]-->
    <!--<bean id="logBeforeAdvice" class="cn.fcsca.advice.face.impl.LogBeforeAdvice"/>-->
    <!--<bean id="helloSpeaker" class="cn.fcsca.advice.face.impl.HelloSpeaker"/>-->
    <!--<bean id="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--<property name="proxyInterfaces">-->
            <!--<value>cn.fcsca.advice.face.IHello</value>-->
        <!--</property>-->
        <!--<property name="target">-->
            <!--<ref bean="helloSpeaker"/>-->
        <!--</property>-->
        <!--<property name="interceptorNames">-->
            <!--<list>-->
                <!--<value>logBeforeAdvice</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--切入点相关bean-->
    <!--<bean id="logBeforeAdvice" class="cn.fcsca.advice.pointcut.face.impl.LogBeforeAdvice"/>-->
    <!--<bean id="helloAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">-->
        <!--<property name="mappedName">-->
            <!--<value>hello*</value>-->
        <!--</property>-->
        <!--<property name="advice">-->
            <!--<ref bean="logBeforeAdvice"/>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean class="cn.fcsca.advice.face.impl.HelloSpeaker" id="helloSpeaker"/>-->
    <!--<bean class="org.springframework.aop.framework.ProxyFactoryBean" id="factoryBean">-->
        <!--<property name="proxyInterfaces">-->
            <!--<value>cn.fcsca.advice.pointcut.face.IHello</value>-->
        <!--</property>-->
        <!--<property name="target">-->
            <!--<ref bean="helloSpeaker"/>-->
        <!--</property>-->
        <!--<property name="interceptorNames">-->
            <!--<list>-->
                <!--<value>helloAdvisor</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

</beans>