<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>cn.fcsca.servlet.MainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>cn.fcsca.servlet.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/mainServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/jsp/login.jsp</welcome-file>
    </welcome-file-list>

</web-app>
